*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: white !important;
}

a{
    text-decoration: none !important;
    padding: 0 8px;
}

li{
    list-style: none;
}

.main__container{
    background-color: white !important;
    margin: 0 20px;
}

.container-sm{
    
}

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

